<div class="container">
  <div class="form">
    <p class="error">{{ error }}</p>
    <h2 id="reistration">Registration Form</h2>
    <form action="" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div formGroupName="personalDetails">

        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          placeholder="Your username.."
          formControlName="username"
          autocomplete="none"
        />
        <div>
          <span style="color: red">
            <span
              *ngIf="
                reactiveForm
                  .get('personalDetails.username')
                  ?.hasError('required') &&
                reactiveForm.get('personalDetails.username')?.touched
              "
            >
              Username is required!
            </span>
            <span *ngIf="reactiveForm.hasError('usernameNotAvailable')">
              Username is not avaliable!
            </span>
          </span>
        </div>

        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Your email.."
          formControlName="email"
          autocomplete="none"
        />
        <div>
          <!-- <span
            style="color: red"
            class="show"
            *ngIf="reactiveForm.get('personalDetails.email')?.hasError('emailNotAvailable')"
            >The email you entered is not avaliable!
          </span> -->
          <span style="color: red">
            <span
              *ngIf="
                reactiveForm
                  .get('personalDetails.email')
                  ?.hasError('emailNotAvailable')
              "
              >The email you entered is not avaliable!</span
            >
            <span
              *ngIf="
                reactiveForm.get('personalDetails.email')?.hasError('email') &&
                reactiveForm.get('personalDetails.email')?.dirty
              "
              >The email you entered is not a valid email!</span
            >
            <span
              *ngIf="
                reactiveForm
                  .get('personalDetails.email')
                  ?.hasError('required') && (
                    reactiveForm.get('personalDetails.email')?.touched ||
                reactiveForm.get('personalDetails.email')?.dirty)
              "
              >Email is required!</span
            >
          </span>
        </div>

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Your password.."
          formControlName="password"
          autocomplete="none"
        />
        <div>
          <span style="color: red">
            <span
              style="color: red"
              *ngIf="
                reactiveForm.get('personalDetails.password')?.invalid &&
                reactiveForm.get('personalDetails.password')?.touched
              "
            >
              Your password is too short try using longer one!
            </span>
          </span>
        </div>

        <label for="password">Confirm password</label>
        <input
          type="password"
          id="passwordConfirm"
          placeholder="Confirm your password.."
          formControlName="passwordConfirm"
          autocomplete="none"
        />
        <div>
          <span style="color: red;">
            <span
              style="color: red"
              *ngIf="
                reactiveForm.get('personalDetails.passwordConfirm')?.touched &&
                (reactiveForm.get('personalDetails.passwordConfirm')?.hasError('passwordNotMatching') || reactiveForm.get('personalDetails.passwordConfirm')?.invalid)
              "
            >
              Your password does not match!
            </span>
          </span>
        </div>

        <label for="creditCard">Credit Card info</label>
        <input
          type="text"
          id="creditCard"
          placeholder="Your credit Card info.."
          formControlName="creditCard"
          autocomplete="none"
        />
        <div>
          <span style="color: red;">
            <span
              style="color: red"
              *ngIf="
                (reactiveForm.get('personalDetails.creditCard')?.hasError('maxlength') ||  reactiveForm.get('personalDetails.creditCard')?.hasError('minlength'))&&
                reactiveForm.get('personalDetails.creditCard')?.touched && !reactiveForm.get('personalDetails.creditCard')?.hasError('creditCardNotAllowed')
              "
            >
              Your credit card number must have 16 characters!
            </span>
            <span
              style="color: red"
              *ngIf="
              (!reactiveForm.get('personalDetails.creditCard')?.hasError('maxlength') ||  !reactiveForm.get('personalDetails.creditCard')?.hasError('minlength')) &&
              !reactiveForm.get('personalDetails.creditCard')?.hasError('required') &&
                reactiveForm.get('personalDetails.creditCard')?.touched &&
                reactiveForm.get('personalDetails.creditCard')?.hasError('creditCardNotAllowed')
              "
            >
              Your credit card number must contain just numbers!
            </span>
            <span *ngIf="reactiveForm.get('personalDetails.creditCard')?.hasError('required') && reactiveForm.get('personalDetails.creditCard')?.touched">
              Credit Card information is required!
            </span>
          </span>
        </div>
      </div>

      <label for="job">Job Position:</label>
      <input
        type="radio"
        id="full"
        value="full"
        formControlName="jobPosition"
      />
      <label for="full">Full Stack</label>
      <input
        type="radio"
        id="front"
        value="front"
        formControlName="jobPosition"
      />
      <label for="front">Front End</label>
      <input
        type="radio"
        id="back"
        value="back"
        formControlName="jobPosition"
      />
      <label for="back">Back end</label>
      <input
        type="submit"
        value="Submit"
        id="btn"
        [disabled]="reactiveForm.invalid"
      />
    </form>
  </div>
</div>
