/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

span.error{
    color: red;
    height: 25px;
    display: block;
}